In [16]:
!pip install fake-useragent

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fake-useragent
  Downloading fake_useragent-1.1.3-py3-none-any.whl (50 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 50.5/50.5 kB 3.4 MB/s eta 0:00:00
Installing collected packages: fake-useragent
Successfully installed fake-useragent-1.1.3

In [17]:
from fake_useragent import UserAgent
ua = UserAgent()

In [10]:
from bs4 import BeautifulSoup

In [11]:
import pandas as pd
import requests

In [ ]:
header = {'User-Agent':str(ua.chrome)}

In [ ]:
def crawling(soup):
    table_soup = soup.find("table", attrs={'class': 'datatable12'})
    names = []
    addresses = []
    informs = []
    crawled = {'학교명': names, '주소': addresses, '정보': informs}

    for idx, item in enumerate(table_soup.find_all('tr')):
        if idx == 0:
            continue
        school_name = item.find('a').text
        address = item.find('div', attrs={'style' : "clear:both;float:left;margin-top:10px"}).text
        information = item.find('div', attrs={'style' : "margin-top:10px;color:gray;font-size:14px"}).text.strip()
        names.append(school_name)
        addresses.append(address)
        informs.append(information)
    return pd.DataFrame.from_dict(crawled)

In [85]:
i = 1
total_df = pd.DataFrame()
while True:
    url = f"https://www.edufindkorea.com/edu/list.php?pagenum={i}&addcode=&searchkeyword=&orderby=count&hashtag=&schoolgubun=%EC%B4%88%EB%93%B1%ED%95%99%EA%B5%90&gubun=&subject="
    response = requests.get(url, headers=header)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content)
        total_df = pd.concat([total_df, crawling(soup)])
        i += 1
    if i == 11:
        break

In [87]:
total_df.reset_index(drop=True)

         학교명                주소             정보
0   천안아름초등학교  충청남도 천안시 서북구 불당동  2017년 개교 / 공립
1     환서초등학교  충청남도 천안시 서북구 백석동  1955년 개교 / 공립
2     산내초등학교       경기도 파주시 목동동  2018년 개교 / 공립
3   옥길산들초등학교       경기도 부천시 옥길동  2016년 개교 / 공립
4     망포초등학교   경기도 수원시 영통구 망포동  2019년 개교 / 공립
..       ...               ...            ...
95  서울을지초등학교     서울특별시 노원구 중계동  1994년 개교 / 공립
96    청옥초등학교       경기도 평택시 청북읍  2011년 개교 / 공립
97  서울서원초등학교     서울특별시 서초구 반포동  1985년 개교 / 공립
98    중산초등학교      울산광역시 북구 중산동  2017년 개교 / 공립
99   충무공초등학교     경상남도 진주시 충무공동  2019년 개교 / 공립

[100 rows x 3 columns]

        학교명                주소             정보
0  천안아름초등학교  충청남도 천안시 서북구 불당동  2017년 개교 / 공립
1    환서초등학교  충청남도 천안시 서북구 백석동  1955년 개교 / 공립
2    산내초등학교       경기도 파주시 목동동  2018년 개교 / 공립
3  옥길산들초등학교       경기도 부천시 옥길동  2016년 개교 / 공립
4    망포초등학교   경기도 수원시 영통구 망포동  2019년 개교 / 공립
5  서울대도초등학교     서울특별시 강남구 도곡동  1980년 개교 / 공립
6  다산한강초등학교      경기도 남양주시 다산동  2019년 개교 / 공립
7  인천해원초등학교      인천광역시 서구 경서동  2012년 개교 / 공립
8  천안불무초등학교  충청남도 천안시 서북구 불당동  2016년 개교 / 공립
9  안산해솔초등학교    경기도 안산시 상록구 사동  2020년 개교 / 공립